.container-fluid{
   background-color: #85bdeb;
   padding: 20px;
}

.row{
   justify-content: center;
   align-items: center;
   padding: 20px;
}


div#educacion h1 {
    text-align: center;
 }

#button {
   justify-content: center;
   align-items: center;
   
 }
 label{
   display: inline-block;
   width: 80px;
 }