<div class="row">
   <h1>Hard y Soft Skills</h1>
   <div class="col-lg-2">
      <button type="button" class="btn btn-light" routerLink="/newhys" *ngIf="isLogged">Nueva Skill</button>
      </div>      

   <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let hys of hys">
      <circle-progress
         [percent]="(hys.porcentaje)"
         [radius]="100"
         [outerStrokeWidth]="16"
         [title]="(hys.nombre)"
         [showTitle]="true"
         [imageSrc]="'../assets/image/html.jpg'"
         [showImage]="true"
         [imageHeight]="50"
         [imageWidth]="50"
         [innerStrokeWidth]="8"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'##003ac2'"
         [innerStrokeColor]="'#95d7e4'"
         [animation]="true"
         [animationDuration]="300" ></circle-progress>
      <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/edithys/{{hys.id}}"><i
         class="bi bi-pencil-fill"></i>EDITAR</button></td>
   <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(hys.id)"><i
         class="bi bi-trash3-fill"></i> BORRAR</button></td>
   </div>

   <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let hys of hys">
      <circle-progress
         [percent]="(hys.porcentaje)"
         [radius]="100"
         [outerStrokeWidth]="16"
         [title]="(hys.nombre)"
         [showTitle]="true"
         [imageSrc]="'../assets/image/html.jpg'"
         [showImage]="true"
         [imageHeight]="50"
         [imageWidth]="50"
         [innerStrokeWidth]="8"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'##003ac2'"
         [innerStrokeColor]="'#95d7e4'"
         [animation]="true"
         [animationDuration]="300" ></circle-progress>
      <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/edithys/{{hys.id}}"><i
         class="bi bi-pencil-fill"></i>EDITAR</button></td>
   <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(hys.id)"><i
         class="bi bi-trash3-fill"></i> BORRAR</button></td>
   </div>
   
   <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let hys of hys">
      <circle-progress
         [percent]="(hys.porcentaje)"
         [radius]="100"
         [outerStrokeWidth]="16"
         [title]="(hys.nombre)"
         [showTitle]="true"
         [imageSrc]="'../assets/image/html.jpg'"
         [showImage]="true"
         [imageHeight]="50"
         [imageWidth]="50"
         [innerStrokeWidth]="8"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'##003ac2'"
         [innerStrokeColor]="'#95d7e4'"
         [animation]="true"
         [animationDuration]="300" ></circle-progress>
         <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/edithys/{{hys.id}}"><i
         class="bi bi-pencil-fill"></i>EDITAR</button></td>
   <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(hys.id)"><i
         class="bi bi-trash3-fill"></i> BORRAR</button></td>
   </div>
   
   <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let hys of hys">
      <circle-progress
         [percent]="(hys.porcentaje)"
         [radius]="100"
         [outerStrokeWidth]="16"
         [title]="(hys.nombre)"
         [showTitle]="true"
         [imageSrc]="'../assets/image/html.jpg'"
         [showImage]="true"
         [imageHeight]="50"
         [imageWidth]="50"
         [innerStrokeWidth]="8"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'##003ac2'"
         [innerStrokeColor]="'#95d7e4'"
         [animation]="true"
         [animationDuration]="300" ></circle-progress>
         <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/edithys/{{hys.id}}"><i
         class="bi bi-pencil-fill"></i>EDITAR</button></td>
   <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(hys.id)"><i
         class="bi bi-trash3-fill"></i> BORRAR</button></td>
   </div>

   <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let hys of hys">
      <circle-progress
         [percent]="(hys.porcentaje)"
         [radius]="100"
         [outerStrokeWidth]="16"
         [title]="(hys.nombre)"
         [showTitle]="true"
         [imageSrc]="'../assets/image/html.jpg'"
         [showImage]="true"
         [imageHeight]="50"
         [imageWidth]="50"
         [innerStrokeWidth]="8"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'##003ac2'"
         [innerStrokeColor]="'#95d7e4'"
         [animation]="true"
         [animationDuration]="300" ></circle-progress>
         <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/edithys/{{hys.id}}"><i
         class="bi bi-pencil-fill"></i>EDITAR</button></td>
   <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(hys.id)"><i
         class="bi bi-trashng3-fill"></i> BORRAR</button></td>
   </div>

   <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let hys of hys">
      <circle-progress
         [percent]="(hys.porcentaje)"
         [radius]="100"
         [outerStrokeWidth]="16"
         [title]="(hys.nombre)"
         [showTitle]="true"
         [imageSrc]="'../assets/image/html.jpg'"
         [showImage]="true"
         [imageHeight]="50"
         [imageWidth]="50"
         [innerStrokeWidth]="8"
         [innerStrokeWidth]="8"
         [outerStrokeColor]="'##003ac2'"
         [innerStrokeColor]="'#95d7e4'"
         [animation]="true"
         [animationDuration]="300" ></circle-progress>
         <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/edithys/{{hys.id}}"><i
         class="bi bi-pencil-fill"></i>EDITAR</button></td>
   <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(hys.id)"><i
         class="bi bi-trash3-fill"></i> BORRAR</button></td>
   </div>
</div>