<div class="row">
  <div>
    <img class="circular-square-profile" src="../../../assets/images/pic02.jpg" id="perfil">
  </div>
  <div>
    <h2>Acerca de mi</h2>
    <p id="nombre">{{persona.nombre}}</p>
  </div>
  <div>
    <h1>Giuli Cervi</h1>
    <div> "Música, comunicación, educación, tecnología"
    </div>
    <div>
      <span>Cipolletti, Rio Negro, Argentina</span>
      <span> <a href=""> </a> </span>
    </div>
    <div>
      <ul>
        <div class="container">
              <li>
                  <h6><a href="https://cmfalla-caba.infd.edu.ar/sitio"> Conservatorio Superior de Musica Manuel de Falla</a></h6>
                  <a href="https://cmfalla-caba.infd.edu.ar/sitio"><img class="circular-square"  src="/assets/images/pic03.jpg" width="80px" height="80px"></a>
             </li>
        </div>
        <div> 
          <li>
              <h6><a href="http://www.sociales.uba.ar/carreras/comunicacion"> Universidad de Buenos Aires</a></h6>
              <a href="http://www.sociales.uba.ar/carreras/comunicacion"><img class="circular-square" src="/assets/images/pic04.jpg" width="80px" height="80px"></a>
          </li> 
       </div>         
      </ul>
    </div>
  </div>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Portfolio Web</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
        <li><a href="/nuevousuario">Crear Cuenta</a></li>
        <li><a href="/cerrarsesion">Cerrar Sesion</a></li>
      </ul>
    </div>
  </nav>
</div>