<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container">
        <div class="logo">
          <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/img/APLogo.png" id="logoAP"></a>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/giuli.cervi/"><img class="circular-square"
              src="../../../assets/img/facebook.jpg" id="facebook"></a>
          <a href="https://www.instagram.com/giuli_piano_/"><img class="circular-square"
              src="../../../assets/img/instagram.png" id="instagram"></a>
          <a href="https://ar.linkedin.com/in/giulian-cervi-059aba243"><img class="circular-square"
              src="../../../assets/img/linkedin.png" id="linkedin"></a>
          <a href="https://github.com/G1ul1s"><img class="circular-square" src="../../../assets/img/github.png"
              id="github"></a>
        </div>
        <button id="button" type="button" class="btn btn-danger">
          <a class="nav-link" href="/iniciar-sesion">Iniciar Sesión</a>
        </button>
      </div>

      <div class="col">
        <div class="card mat-card" id="encabezado">
          <div id="banner">
            <img [src]="miPortfolio.backImagen" />
          </div>
          <div id="info" style="padding: 16px;">
            <div id="perfil">
              <img class="circular-square-profile" [src]="miPortfolio?.imagen" />
            </div>
            <div id="info-data">
              <div>
                <h1 id="nombre">{{miPortfolio?.name}}</h1>
                <div>
                  <h1 id="titulo">Mi Portfolio Web</h1>
                </div>
                <div id="info-company">
                  <h4>{{miPortfolio?.position}}</h4>
                </div>
                <div id="info-contact">
                  <span>{{miPortfolio?.location}}</span>
                </div>
              </div>
              <ul id="info-details">
                <li>
                  <button id="button" *ngIf="logueado()" type="button" class="btn btn-outline-primary" data-toggle="modal"
                    data-target="#editPer" (click)="verPersona(miPortfolio.id)">
                    <i class="bi bi-search"></i></button>
                </li>
                <li><a href="https://www.axoft.com">
                    <img width="150px" [src]="miPortfolio?.company" />

                  </a></li>
                <li><a href="http://www.enahp.com/pregrado/modulos/inicio/">
                    <img class="school-image" width="200px" [src]="miPortfolio?.college">
                  </a></li>
              </ul>
            </div>
            <div id="info-actions">
              <button id="button" type="button" class="btn btn-outline-primary"><a href="tel:+5491158103764"><i
                    class="bi bi-telephone-fill"></i></a></button>
              <button id="button" type="button" class="btn btn-outline-primary"><a href="Giuli: llavesdelsonido@gmail.com"><i
                    class="bi bi-envelope-fill"></i></a></button>
            </div>
          </div>
          <div class="card mat-card">
            <div class="card-titles" id="acerca">
              <h1>{{miPortfolio?.title1}}</h1>
              <div>
                <p id="text-acercade">{{miPortfolio?.about}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal para Editar -->

      <div class="col">
        <div class="modal fade" id="editPer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Persona</h5>
                <!--Button cerrar  -->
                <button id="button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="bi bi-pencil-fill"></i>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="editarPersona()">
                  <input type="hidden" class="form-control" formControlName="id" value="perEdit?.id">
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Nombre y Apellido</label>
                    <div class="col-sm-10">
                      <input type="text" value="perEdit?.name" formControlName="name" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Foto de perfil</label>
                    <div class="col-sm-10">
                      <input type="text" value="perEdit?.backImagen" formControlName="backImagen"
                        class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Foto de Perfil</label>
                    <div class="col-sm-10">
                      <input type="text" value="perEdit?.imagen" formControlName="imagen" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Posicion Actual</label>
                    <div class="col-sm-10">
                      <input type="text" value="perEdit?.position" formControlName="position" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Empresa</label>
                    <div class="col-sm-10">
                      <input type="text" value="perEdit?.company" formControlName="company" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Perfil Profesional</label>
                    <div class="col-sm-10">
                      <input type="text" value="perEdit?.college" formControlName="college" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Dirección</label>
                    <div class="col-sm-10">
                      <input type="text" value="perEdit?.location" formControlName="location" class="form-control" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Acerca de </label>
                    <div class="col-sm-10">
                      <input type="text" value="perEdit?.about" formControlName="about" class="form-control" />
                    </div>
                  </div>
                  <button id="button" type="submit" class="btn btn-primary"><i class="bi bi-check-circle-fill"></i> Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>