<div class="row">
	<div class="container">
		<div class="logo">
			<a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/images/APLogo.png" id="logoAP"></a>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/giuli.cervi/"><img class="circular-square" src="../../../assets/images/facebook.jpg" id="facebook"></a>
			<a href="https://www.instagram.com/giuli_piano_/"><img class="circular-square" src="../../../assets/images/instagram.png" id="instagram"></a>
			<a href="https://ar.linkedin.com/in/giulian-cervi-059aba243"><img class="circular-square" src="../../../assets/images/linkedin.png" id="linkedin"></a>
			<a href="https://github.com/G1ul1s"><img class="circular-square" src="../../../assets/images/github.png" id="github"></a>
		</div>
		<div>
			<button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged" id="boton">INGRESO</button>
			<button type="button" class="btn btn-outline-light" (click)="onLogout()" *ngIf="isLogged" id="boton">CERRAR SESIÓN</button>
		</div>
	</div>
</div>